.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.linkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}