.upperContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatContainer {
  width: 300px;
  height: 80%;
}

.username {
  font-weight: bold;
}

.chatName {
  cursor: pointer;
}

.chatName:hover {
  color: yellow;
}