.upperContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatContainer {
  width: 300px;
  height: 80%;
}

.username {
  font-weight: bold;
}

.chatName {
  cursor: pointer;
  width: fit-content;
  margin: auto;
}

.chatName:hover {
  color: yellow;
}

.subtext {
  font-style: italic;
  font-size: 15px;
}