.upperContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatContainer {
  width: 300px;
  height: 80%;
}

.username {
  font-weight: bold;
}

.chatName {
  cursor: pointer;
  width: fit-content;
  margin: auto;
}

.chatName:hover {
  color: yellow;
}

.subtext {
  font-style: italic;
  font-size: 15px;
}

.chatbox {
  width: 100%;  
  height: 20px;
  line-height: 18px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0px;

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.dialogBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin: auto;
}

